/node_modules
/vendor
.git
.gitignore
.env
.env.*
*.md
docker-compose.yml
Dockerfile
.dockerignore
README.md
.gitattributes
.gitignore
.editorconfig
.phpunit.xml
docker/*
!docker/php/
!docker/start.sh
!docker/build-vite.sh
!docker/fix-permissions.sh
!docker/clean-build.sh
tests/
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
*.log 